<footer class="site-footer h-card">
  <data class="u-url" href="/fractal/"></data>

  <div class="newsletter-container wrapper">
    <h4 class="newsletter-title" style="font-size: 1.0em;">Subscribe</h4>
    <!-- <p class="newsletter-text"></p> -->
    <form class="newsletter-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=michaelpiseno/hEuW', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p class="newsletter-text" style="font-size: 1.0em;">Get new posts to your inbox</p>
      <input type="hidden" value="Fractal" name="uri" />
      <input type="hidden" name="loc" value="en_US" />
      <input class="newsletter-email" type="text" name="email" placeholder="name@example.com" />
      <input class="newsletter-submit" type="submit" value="Subscribe" />
    </form>
  </div>

  <div class="wrapper">
    <h2 class="footer-heading">Fractal</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Contact</li>
          <li><a class="u-email" href="mailto:mpiseno@gatech.edu">mpiseno@gatech.edu</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="p-name">Media</li>
          <li><a href="https://github.com/mpiseno"><svg class="svg-icon"><use xlink:href="/fractal/assets/minima-social-icons.svg#github"></use></svg> <span class="username">mpiseno</span></a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>Fractal is an organization that provides tutorials for topics related to artifical intelligence. We are also involved with educational outreach related to AI such as giving talks at local schools.</p>
      </div>
    </div>
  </div>

</footer>
