<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://use.typekit.net/vhi7kwp.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/bootstrap/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/headerfooterstyle.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/indexstyle.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/aboutstyle.css">
    <link href="{{site.baseurl}}/css/code_highlight.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="assets/main.scss"> -->

    <title>Fractal</title>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/imgs/favicon2.png">

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true,
        },
        "HTML-CSS": { availableFonts: ["TeX"] },
        }
        );
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>