---
---

@import "{{ site.theme }}";

.site-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 55.95px;
  position: relative;
  background-color: #FF0000; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: white; }

.site-nav .page-link {
  color: white;
  line-height: 1.5; }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team-photo {
  border-radius: 10px;
  max-height: 200px;
  max-width: 200px;
  object-fit: fill;
}

footer {
  //...footer styling

  .newsletter-container {
      max-width: 400px;
      max-height: 200px;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      padding: 1em 0;
      //background: #444;
      box-shadow: 0 6px 4px 0 rgba(255, 0, 0, 0.2);
      margin-bottom: 2em;
  }
  .newsletter-container * {
      align-self: center;
      padding: 0;
  }
  .newsletter-form {
      text-align: center;
  }
  .newsletter-title {
      font-size: 1.5em;
      margin: 0;
      color: gray;
      //font-family: $lato;
      text-transform: uppercase;
  }
  .newsletter-text {
      //font-family: $lato;
      font-weight: 300;
      color: gray;
      text-align: center;
  }
  .newsletter-email,
  .newsletter-submit {
      display: inline-block;
      border-radius: 4px;
      padding: 5;
      align-self: center;
  }
  .newsletter-email {
      //font-family: $serif-primary;
      text-align: center;
      font-size: 0.9em;
  }
  .newsletter-submit {
      font-size: .6em;
      margin-left: 1em;
      padding: 0.5em;
      border: none;
      background: #f5f5f5;
      text-transform: uppercase;
      font-weight: 600;
  }

  @media screen and (min-width: 400px) {
      .newsletter-title {
          font-size: 2.5em;
      }
      .newsletter-text {
          font-size: 1.5em;
      }
      .newsletter-submit {
          font-size: .7em;
      }
  }
}
