---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- {{ content }} -->

  <!-- INDEX HEADER -->
  <div class="row banner-cta">
    <div class="landing-banner">
      <div class="col-lg-6 col-md-6 col-sm-12 banner-item" style="flex-direction: column;">
        <h3 class="text-left" style="color: var(--cskblue)">CS For Everyone</h3>
        <p class="text-left" style="color: var(--cskblue)">We are a non-profit organization that aims to increase access to computer science education in underprivileged communities.</p><br>
        <a href="https://forms.gle/KLYDQmpY7ge3vZ3i6" target="_blank">
          <button type="button" class="btn btn-primary banner-btn">Apply</button>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 banner-item">
        <img src="imgs/code_background.png" id="banner" class="header">
      </div>
    </div>
  </div>

  <!-- SECTION -->
  <section class="container-fluid px-0">
    <div class="row align-items-center" style="margin-top: 65px">
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-5 mb-md-0">
                    <h2 class="text-left">Underprivileged Communities in Tech</h2>
                    <div class="stat">
                        <img src="imgs/19_percent.png" class="percent column"/>
                        <p class="lead text-left column">of computer science graduates are Hispanic or Black; these groups make approximately $20,000 less in average household income than white and asian families, according to a 2017 census.gov report.</p> <!-- 19% -->
                    </div>
                    <hr>
                    <div class="stat">
                        <img src="imgs/67_percent.png" class="percent column"/>
                        <p class="lead text-left column">percent of high schools where more than three-quarters of the students are on free and reduced lunch do not offer any computer science courses, according to a 2019 study by code.org.</p> <!-- 67% -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center order-1 order-md-2 pink-bg" style="margin-top: -3.5vh;">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-5 mb-md-0">
                    <h2 style="text-align: left;">What We Offer</h2>
                    <p class="lead text-left">We create free educatonal content intended to teach basic programming concepts and encourage students to learn more.</p>
                    <p class="lead text-left">By participating in our program, students will receive mentorship from industry professionals.</p>
                    <p class="lead text-left">In additonal to mentorship, we host workshops to kickstart students on their educational and professional journies.</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- SECTION -->
  <section class="container-fluid px-0">
      <div class="row align-items-center" style="margin-left: 3%; margin-right: 3%;">
          <div class="col-md-6 order-1 order-md-1 people-img">
              <img src="{{site.baseurl}}/imgs/people.png" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 text-center order-2 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 mb-5 mb-md-0">
                      <h3>Knowledge</h3>
                      <p class="lead">You will have access to resources to continually develop your computer science education.</p>
                      <h3>Mentorship</h3>
                      <p class="lead">You will have the opportunity to be paired with engineers and leaders from top tech companies.</p>
                      <h3>Community</h3>
                      <p class="lead">You will meet people from similar backgrounds at all stages of the learning process, from beginners to experienced engineers.</p>
                      <!-- <a href="about.html">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Learn More</button>
                      </a> -->
                  </div>
              </div>
          </div>
      </div>
      <!-- <a href="about.html" style="align-content: center">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Learn More</button>
      </a> -->
  </section>

  <!-- SPONSORS & PARTNERS -->
  <!-- <section class="container-fluid px-0" style="margin-top: 50px">
    <h2 style="text-align: center;">Our Sponsors & Partners</h2>
    <div class="row align-items-center" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-4 col-sm-6 sponsor-img-container">
        <img class="sponsor-img" src="{{site.baseurl}}/imgs/sponsors/google.jpeg">
      </div>
      <div class="col-md-4 col-sm-6 sponsor-img-container">
        <img class="sponsor-img" src="{{site.baseurl}}/imgs/sponsors/facebook.png">
      </div>
      <div class="col-md-4 col-sm-6 sponsor-img-container">
        <img class="sponsor-img" src="{{site.baseurl}}/imgs/sponsors/patientco.png">
      </div>
    </div>
    <h6 style="text-align: center; color: gray; font-weight: 100">Sponsors and partners include companies that either donate or our mentors are employed with</h6>
  </section> -->

  <!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
  {%- endif -%} -->

</div>
